.name_container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  
  div {
    flex: 1 1 0%;
  }
}

.intro {
  font-size: 2.5rem; /* Increase the font size as desired */
}

.desc {
  text-align: start;
  font-size: 1rem;
}

.pfpimage {
  display: flex;
  max-width: 100%;
}

.pfpcontainer {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  border: 2px solid #82AFD3;
  border-radius: 7%;
  transform: rotate(5deg);
  margin: 1rem;

  &:hover {
    transform: rotate(0deg);
    filter: invert(1);
  }
}

.name {
  font-size: 6.5rem; /* Increase the font size as desired */
}

.subname {
  font-size: 1.5rem; /* Increase the font size as desired */
}

@media only screen and (max-width: 485px) {
  .pfpimage {
    width: 100%;
    justify-content: center;
  }

  .desc {
    text-align: center;
  }
}

.scrollBtn {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
